body {
    background: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);
}

.container{
    background-color: #d1d1d1d0;
    border-radius: 20px;
    width: 600px;
    margin: auto;
    margin-top: 250px;
    padding: 50px;
    opacity: 0.8;
}

#titulo {
    text-align: center;
    color: #5b2fe0;
    font-size: 50px;
}

#subtitulo {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#formulario-name {
    text-align: center;
    color: #5b2fe0;
    font-family: 'Roboto', sans-serif;
}

#formulario-name input {
    margin-top: 5px;
    padding: 10px;
    border-radius: 6px;
    border: none;
}

#formulario-email {
    text-align: center;
    color: #5b2fe0;
    font-family: 'Roboto', sans-serif;
}

#formulario-email input {
    margin-top: 5px;
    padding: 10px;
    border-radius: 6px;
    border: none;
}

#formulario-data {
    text-align: center;
    color: #5b2fe0;
    font-family: 'Roboto', sans-serif;
}

#formulario-data input {
    margin-top: 5px;
    padding: 10px;
    border-radius: 6px;
    border: none;
    color: #5b2fe0;
}

#button {
    text-align: center;
    margin-top: 15px;
    cursor: pointer;
}

#button input {
    padding: 10px;
    border-radius: 6px;
    border: none;
    color: #fff;
    background-color: #5b2fe0;
    cursor: pointer;
}

#button input:hover {
    color: #000000;
    background: #CCBBFF;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

#Botao {
    padding: 10px;
    border-radius: 6px;
    border: none;
    color: #fff;
    background-color: #5b2fe0;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}

#Botao:hover {
    color: #000000;
    background: #CCBBFF;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

#Participar {
    padding: 10px;
    border-radius: 6px;
    border: none;
    color: #fff;
    background-color: #5b2fe0;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}

#Participar:hover {
    color: #000000;
    background: #CCBBFF;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

#Voltar {
    padding: 10px;
    border-radius: 6px;
    border: none;
    color: #fff;
    background-color: #5b2fe0;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}

#Voltar:hover {
    color: #000000;
    background: #CCBBFF;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

#formulario-name {
    text-align: center;
}

fieldset {
    border: none !important;
}

@media only screen and (min-width: 410px) and (max-width: 500px){
    .container{
        width: 100%;
    }
}

@media only screen and (min-width: 501px) and (max-width: 700px){
    .container{
        width: 100%;
    }
}

@media only screen and (min-width: 701px) and (max-width: 900px){
    .container{
        width: 100%;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1100px){
    .container{
        width: 50%;
    }
}

@media only screen and (min-width: 1101px) and (max-width: 1400px){
    .container{
        width: 50%;
    }
}

@media only screen and (min-width: 1401px) and (max-width: 1600px){
    .container{
        width: 50%;
    }
}

@media only screen and (min-width: 1601px) and (max-width: 1800px){
    .container{
        width: 50%;
    }
}

@media only screen and (min-width: 1801px) and (max-width: 2000px){
    .container{
        width: 30%;
    }
}